@import "variables.css";

body{
    background-color: var(--main-bg);
}

.mySwiper{

}
.swiper-wrapper{

}
.swiper-slide{
    display: flex !important;
    justify-content: center;
}
.gallery__img{
    width: 80%;
    height: 100vh;
}